
.home-bg {
  background-image: url("../../Assets/Home/HomeBG.png");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}